@charset "UTF-8";
.address-footer_item:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer_link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer_link:hover, .address-footer_link:focus {
  color: #2196f3;
}

.address-footer_mail {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-footer_mail:hover, .address-footer_mail:focus {
  color: #2196f3;
}

.main-images_basic-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 45px;
  width: 370px;
  height: 294px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  transform: translateY(101%);
  transition: transform 250ms ease;
}

.main-section_button {
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding-left: 42px;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section_button:focus, .main-section_button:hover {
  background-color: #2196f3;
  color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  border: 0;
}

.buttons_button {
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f5fa;
  padding: 6px 22px;
  border: none;
  transition-property: color, box-shadow, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons_button:focus, .buttons_button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .customers {
    margin-top: 60px;
  }
}

.customers_list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.customers_list:not(:last-child) {
  margin-right: 30px;
}

.customers_item {
  width: 210px;
  max-width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers_item {
    width: 226px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .customers_item {
    width: 170px;
    max-width: 100%;
  }
}
.customers_item:hover, .customers_item:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.marketing-description-icon_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition-property: fill, background;
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.marketing-description-icon_svg:hover, .marketing-description-icon_svg:focus {
  background: #2196f3;
  fill: #ffffff;
}

.marketing-description_nickname {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.marketing-description_icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.marketing_description {
  padding: 30px 0;
}

.marketing-description_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.address-footer {
  margin-top: 20px;
}

.address-footer_list {
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .footer-from {
    width: 570px;
    height: 86px;
    margin-left: 8px;
  }
}

.footer-from_hedline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercas;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-page_logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-page_logo:focus, .footer-page_logo:hover {
  color: #2196f3;
}

.footer-page_web {
  color: #2196f3;
}

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}

.footer-page_div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-page_div {
    display: flex;
    gap: 70px;
    align-items: baseline;
    justify-content: inherit;
    text-align: inherit;
    flex-wrap: inherit;
  }
}

.footer-social {
  text-align: center;
}

.footer-social_headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-from_button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  fill: #ffffff;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-from_button:hover, .footer-from_button:focus {
  color: #212121;
  fill: #212121;
}

.footer-from-button_svg {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.footer-from_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 246px;
}
@media screen and (min-width: 1200px) {
  .footer-from_list {
    width: 570px;
    flex-direction: row;
  }
}

.footer-from_imput {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: rgb(47, 48, 58);
  margin-right: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.page-header_list-1 {
  display: flex;
  gap: 50px;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header_list-1 {
    flex-direction: column;
    gap: 10px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .page-header_list-1 {
    display: flex;
    gap: 50px;
    flex-direction: row;
  }
}

.page-header_mail {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header_mail:hover, .page-header_mail:focus {
  color: #2196f3;
}

.page-header_item {
  margin-right: 10px;
  fill: currentColor;
}

.page-header_link {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header_link:hover, .page-header_link:focus {
  color: #2196f3;
}
.page-header_link.page-header_wrap {
  color: #2196f3;
  position: relative;
}
.page-header_link.page-header_wrap::after {
  position: absolute;
  bottom: -33px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.page-header_nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header_nav {
    margin-left: 83px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .page-header_nav {
    margin-left: 93px;
    display: block;
  }
}

.page-header_list {
  display: flex;
  gap: 46px;
}

.page-header_logo {
  text-decoration: none;
  color: inherit;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-header_logo:focus, .page-header_logo:hover {
  color: #2196f3;
}

.page-header_web {
  color: #2196f3;
}

.page-header {
  border-bottom: 1px solid #ededed;
}
.page-header_mine {
  display: flex;
  align-items: center;
}

.page-header_button {
  margin-left: auto;
  background-color: #ffffff;
  border: 0;
  fill: #212121;
  cursor: pointer;
  margin-left: auto;
}
.page-header_button:hover, .page-header_button:focus {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .page-header_button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page-header_button {
    display: none;
  }
}

.main-images_item {
  position: relative;
  display: block;
  color: inherit;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-images_item:hover, .main-images_item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.main-images_item:hover .main-images_basic-item, .main-images_item:focus .main-images_basic-item {
  transform: translateY(0);
}

.main-images_subtext {
  position: relative;
  top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding-left: 24px;
  background: #ffffff;
  z-index: 2;
}

.main-images_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  z-index: 2;
}

.main-images_basic-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  z-index: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.lorem-ipsum {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.lorem-ipsum_headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .lorem-ipsum_headline {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-ipsum_headline {
    width: 270px;
  }
}
.lorem-ipsum_text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .lorem-ipsum_text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-ipsum_text {
    width: 270px;
  }
}
.lorem-ipsum_icone {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .lorem-ipsum_icone {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-ipsum_icone {
    width: 270px;
  }
}

.main-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.main-images_list {
  position: relative;
  max-width: 370px;
  max-height: 404px;
}

.main-section {
  background-color: rgb(47, 48, 58);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-460.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 480px;
  max-height: 400px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-460.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/768-tło.jpg);
    max-width: 768px;
    max-height: 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/768-tło.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Tapeta.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Tapeta.jpg);
  }
}

.main-section_headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  display: flex;
  width: 365px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .main-section_headline {
    font-size: 44px;
    width: 696px;
    display: block;
  }
}

.marketing {
  background-color: #f5f5fa;
}

.marketing_headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.marketing_list {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  mix-blend-mode: normal;
}

.marketing_item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .marketing_item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .marketing_item {
    width: 270px;
  }
}

.main-section-button_svg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(15, 10, 10, 0.1);
  background: #ffffff;
  cursor: pointer;
}
.main-section-button_svg:focus, .main-section-button_svg:hover {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-section-modal_button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section-modal_button:hover, .main-section-modal_button:focus {
  color: #212121;
}

@keyframes animate {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  50% {
    transform: rotate(120deg) translate(-250px, -200px);
  }
  100% {
    transform: rotate(-40deg) translate(0, 0);
  }
}
.main-section_group {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-section_name {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  letter-spacing: 0.01em;
}

.main-section_input {
  height: 40px;
  border: none;
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
}
.main-section_input:hover, .main-section_input:focus-within {
  border: #2196f3;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .main-section_input {
    width: 448px;
  }
}

.main-section_svg {
  position: absolute;
  left: 15px;
  top: 14px;
}

.main-section-politics_svg {
  position: absolute;
  fill: #ffffff;
  border-radius: 2px;
  visibility: hidden;
  transition-property: background-color, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  scale: 0;
  z-index: 1;
}

.main-section-politics_svg-1 {
  position: absolute;
  scale: 1;
  transition: scale, 0.2s;
}

.main-section_text {
  width: 100%;
  height: 120px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section_text:focus-within, .main-section_text:hover {
  border: 1px solid #2196f3;
}

.main-section_label {
  position: relative;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--animation);
}
.main-section_label:hover, .main-section_label:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}
.main-section_label:required,
.main-section_label :invalid {
  color: #ff0000;
}

.main-section_headline-1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-section_backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section_modal {
  position: absolute;
  width: 450px;
  max-height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: animate 3000ms 0 1000ms;
}
@media screen and (min-width: 768px) {
  .main-section_modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .main-section_modal {
    width: 528px;
    height: 581px;
  }
}

.photos_image {
  position: relative;
  list-style: none;
  display: flex;
  gap: 30px;
  mix-blend-mode: normal;
}

.photos_text {
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03e;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background: rgb(47, 48, 58);
}

.photos {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .photos {
    display: block;
  }
}

.photos_headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.main-section-politics_input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .main-section-politics_input {
    margin-right: 0;
  }
}

.main-section-politics_input:checked ~ .main-section-politics_svg {
  visibility: visible;
  background-color: #2196f3;
  scale: 1;
}

.checkbox-hidden:checked ~ .main-section-politics_svg-1 {
  scale: 0;
}

.main-section_politics {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.36px;
  color: #757575;
  gap: 2px;
}
@media screen and (min-width: 1200px) {
  .main-section_politics {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
    gap: 8px;
  }
}

.main-section-politics_link {
  font-size: 12px;
  line-height: 24px;
  color: #2196f3;
  text-decoration: underline;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .main-section-politics_link {
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.footer-social_list {
  display: flex;
  gap: 10px;
}

.footer-social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.102);
  fill: #ffffff;
  transition-property: color, background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social_icon:hover, .footer-social_icon:focus {
  background: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}
.footer-social_icon:not(:last-child) {
  margin-right: 10px;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
}
.main-list_link {
  color: #212121;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.main-list_link:hover, .main-list_link:focus {
  color: #2196f3;
}

.main-address {
  display: flex;
  flex-direction: column;
  margin-top: 302px;
  gap: 32px;
  padding-left: 25px;
}
.main-address_link {
  color: #2196f3;
  font-size: 34px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.68px;
}
.main-address_link-1 {
  color: #757575;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.modal-header_button {
  fill: #212121;
  margin-left: auto;
  display: block;
  margin-top: 10px;
  max-width: 40px;
  max-height: 40px;
}
.modal-header_button:hover, .modal-header_button:focus {
  fill: #2196f3;
}

.footer-list {
  padding-left: 25px;
}
.footer-list_item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}
.footer-list_logo {
  color: #2196f3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}/*# sourceMappingURL=main.css.map */