.customers_item {
  width: 170px;
  height: 92px;
  border: 1px solid getColor('icone');
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: getColor('icone');
  transition-property: fill, border-color;
  transition-duration: getColor('transition-duration');
  transition-timing-function: getColor('transition-timing-function');
  &:hover,
  &:focus {
    border-color: getColor('primary');
    fill: getColor('primary');
  }
}
