.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('body');
  margin-bottom: 50px;
}
.customers_list {
  display: flex;
  gap: 30px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
