.footer-from {
  position: relative;
  margin-left: 74px;
  width: 570px;
  height: 86px;
}
.footer-from_hedline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercas;
  color: getColor('text');
  margin-bottom: 24px;
}
