.footer-social {
  margin-left: 70px;
}
.footer-social_headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor('text');
  margin-bottom: 20px;
}
