.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('box');
}
.footer-page_div {
  flex-wrap: wrap;
  gap: 60px;

  @include deteskop {
    display: flex;
    gap: 70px;
  }
}
.footer-social {
  text-align: center;
  margin-bottom: 60px;
  @include deteskop {
    text-align: left;
    margin-bottom: 0;
  }
}
.footer-social_headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor('text');
  margin-bottom: 20px;
}
