.footer-from {
  @include deteskop {
    margin-left: 8px;
  }
}
.footer-from_hedline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor('text');
  margin-bottom: 24px;
  text-align: center;
  @include deteskop {
    text-align: left;
  }
}
