.page-header {
  border-bottom: 1px solid getColor('line');
  &_mine {
    display: flex;
    align-items: center;
  }
}
.page-header_button {
  margin-left: auto;
  background-color: getColor('text');
  border: 0;
  fill: getColor('body');
  cursor: pointer;
  &:hover,
  &:focus {
    fill: getColor('primary');
  }
  margin-left: auto;
  @include deteskop {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
