.page-header_nav {
  display: none;

  @include tablet {
    margin-left: 83px;
    display: block;
  }
  @include deteskop {
    margin-left: 93px;
    display: block;
  }
}

.page-header_list {
  display: flex;
  gap: 46px;
}
