.page-header_logo {
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  &:focus,
  &:hover {
    color: getColor('primary');
  }
}
.page-header_web {
  color: getColor('primary');
}
