.lorem-ipsum {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &_headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include tablet {
      width: 354px;
    }
    @include deteskop {
      width: 270px;
    }
  }
  &_text {
    color: getColor('back');
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    @include tablet {
      width: 354px;
    }
    @include deteskop {
      width: 270px;
    }
  }
  &_icone {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: getColor('icone-background');
    border-radius: 4px;

    @include tablet {
      width: 354px;
    }
    @include deteskop {
      width: 270px;
    }
  }
}
