.main-section_headline-1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: getColor('body');
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
