.main-section_backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: getColor('window-modal-background');
  top: 0;
  left: 0;
  transition-property: opacity, visibility;
  transition-duration: getColor('transition-duration');
  transition-timing-function: getColor('transition-timing-function');
}
.main-section_modal {
  position: absolute;
  width: 450px;
  max-height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: getColor('text');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  animation: animate 3000ms 0 1000ms;
  @include tablet {
    width: 450px;
    height: 609px;
  }
  @include deteskop {
    width: 528px;
    height: 581px;
  }
}
